Blackjack.UI/Service References/BlackjackServiceReference/BlackjackService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2093/BlackjackService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Blackjack.Contracts.Entities" />
  <xs:import schemaLocation="http://localhost:2093/BlackjackService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="players" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Blackjack.Contracts.Entities" minOccurs="0" name="StartGameResult" nillable="true" type="q1:StartingHands" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveCardToPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveCardToPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Blackjack.Contracts.Entities" minOccurs="0" name="GiveCardToPlayerResult" nillable="true" type="q2:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveCardToDealer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveCardToDealerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Blackjack.Contracts.Entities" minOccurs="0" name="GiveCardToDealerResult" nillable="true" type="q3:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealerPossibleValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealerPossibleValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDealerPossibleValuesResult" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerPossibleValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerPossibleValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPlayerPossibleValuesResult" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerHasBlackjack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerHasBlackjackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlayerHasBlackjackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerLost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerLostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlayerLostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DealerStand">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DealerStandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DealerStandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DealerHasBlackjack">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DealerHasBlackjackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DealerHasBlackjackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerWins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerWinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlayerWinsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>