Blackjack.UI/Service References/BlackjackServiceReference/BlackjackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlackjackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2093/BlackjackService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2093/BlackjackService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2093/BlackjackService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Blackjack.Contracts.Entities" />
      <xsd:import schemaLocation="http://localhost:2093/BlackjackService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlackjackService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_GiveCardToPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GiveCardToPlayer" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_GiveCardToPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GiveCardToPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_GiveCardToDealer_InputMessage">
    <wsdl:part name="parameters" element="tns:GiveCardToDealer" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_GiveCardToDealer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GiveCardToDealerResponse" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_GetDealerPossibleValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDealerPossibleValues" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_GetDealerPossibleValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealerPossibleValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_GetPlayerPossibleValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerPossibleValues" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_GetPlayerPossibleValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerPossibleValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_PlayerHasBlackjack_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayerHasBlackjack" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_PlayerHasBlackjack_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayerHasBlackjackResponse" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_PlayerLost_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayerLost" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_PlayerLost_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayerLostResponse" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_DealerStand_InputMessage">
    <wsdl:part name="parameters" element="tns:DealerStand" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_DealerStand_OutputMessage">
    <wsdl:part name="parameters" element="tns:DealerStandResponse" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_DealerHasBlackjack_InputMessage">
    <wsdl:part name="parameters" element="tns:DealerHasBlackjack" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_DealerHasBlackjack_OutputMessage">
    <wsdl:part name="parameters" element="tns:DealerHasBlackjackResponse" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_PlayerWins_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayerWins" />
  </wsdl:message>
  <wsdl:message name="IBlackjackService_PlayerWins_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayerWinsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlackjackService">
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackjackService/StartGame" message="tns:IBlackjackService_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackjackService/StartGameResponse" message="tns:IBlackjackService_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GiveCardToPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackjackService/GiveCardToPlayer" message="tns:IBlackjackService_GiveCardToPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackjackService/GiveCardToPlayerResponse" message="tns:IBlackjackService_GiveCardToPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GiveCardToDealer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackjackService/GiveCardToDealer" message="tns:IBlackjackService_GiveCardToDealer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackjackService/GiveCardToDealerResponse" message="tns:IBlackjackService_GiveCardToDealer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDealerPossibleValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackjackService/GetDealerPossibleValues" message="tns:IBlackjackService_GetDealerPossibleValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackjackService/GetDealerPossibleValuesResponse" message="tns:IBlackjackService_GetDealerPossibleValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerPossibleValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackjackService/GetPlayerPossibleValues" message="tns:IBlackjackService_GetPlayerPossibleValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackjackService/GetPlayerPossibleValuesResponse" message="tns:IBlackjackService_GetPlayerPossibleValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerHasBlackjack">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackjackService/PlayerHasBlackjack" message="tns:IBlackjackService_PlayerHasBlackjack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackjackService/PlayerHasBlackjackResponse" message="tns:IBlackjackService_PlayerHasBlackjack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerLost">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackjackService/PlayerLost" message="tns:IBlackjackService_PlayerLost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackjackService/PlayerLostResponse" message="tns:IBlackjackService_PlayerLost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DealerStand">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackjackService/DealerStand" message="tns:IBlackjackService_DealerStand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackjackService/DealerStandResponse" message="tns:IBlackjackService_DealerStand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DealerHasBlackjack">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackjackService/DealerHasBlackjack" message="tns:IBlackjackService_DealerHasBlackjack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackjackService/DealerHasBlackjackResponse" message="tns:IBlackjackService_DealerHasBlackjack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerWins">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlackjackService/PlayerWins" message="tns:IBlackjackService_PlayerWins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlackjackService/PlayerWinsResponse" message="tns:IBlackjackService_PlayerWins_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBlackjackService" type="tns:IBlackjackService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartGame">
      <soap:operation soapAction="http://tempuri.org/IBlackjackService/StartGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GiveCardToPlayer">
      <soap:operation soapAction="http://tempuri.org/IBlackjackService/GiveCardToPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GiveCardToDealer">
      <soap:operation soapAction="http://tempuri.org/IBlackjackService/GiveCardToDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDealerPossibleValues">
      <soap:operation soapAction="http://tempuri.org/IBlackjackService/GetDealerPossibleValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerPossibleValues">
      <soap:operation soapAction="http://tempuri.org/IBlackjackService/GetPlayerPossibleValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerHasBlackjack">
      <soap:operation soapAction="http://tempuri.org/IBlackjackService/PlayerHasBlackjack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerLost">
      <soap:operation soapAction="http://tempuri.org/IBlackjackService/PlayerLost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DealerStand">
      <soap:operation soapAction="http://tempuri.org/IBlackjackService/DealerStand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DealerHasBlackjack">
      <soap:operation soapAction="http://tempuri.org/IBlackjackService/DealerHasBlackjack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerWins">
      <soap:operation soapAction="http://tempuri.org/IBlackjackService/PlayerWins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlackjackService">
    <wsdl:port name="BasicHttpBinding_IBlackjackService" binding="tns:BasicHttpBinding_IBlackjackService">
      <soap:address location="http://localhost:2093/BlackjackService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>