Blackjack.UI/Service References/BlackjackServiceReference/BlackjackService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Blackjack.Contracts.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Blackjack.Contracts.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StartingHands">
    <xs:sequence>
      <xs:element minOccurs="0" name="DealerHand" nillable="true" type="tns:ArrayOfCard" />
      <xs:element minOccurs="0" name="PlayerHands" nillable="true" type="tns:ArrayOfArrayOfCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartingHands" nillable="true" type="tns:StartingHands" />
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="Face" type="tns:CardFace" />
      <xs:element minOccurs="0" name="Suit" type="tns:CardSuit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:simpleType name="CardFace">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ace" />
      <xs:enumeration value="Two" />
      <xs:enumeration value="Three" />
      <xs:enumeration value="Four" />
      <xs:enumeration value="Five" />
      <xs:enumeration value="Six" />
      <xs:enumeration value="Seven" />
      <xs:enumeration value="Eight" />
      <xs:enumeration value="Nine" />
      <xs:enumeration value="Ten" />
      <xs:enumeration value="Jack" />
      <xs:enumeration value="Queen" />
      <xs:enumeration value="King" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CardFace" nillable="true" type="tns:CardFace" />
  <xs:simpleType name="CardSuit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clubs" />
      <xs:enumeration value="Diamonds" />
      <xs:enumeration value="Hearts" />
      <xs:enumeration value="Spades" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CardSuit" nillable="true" type="tns:CardSuit" />
  <xs:complexType name="ArrayOfArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfCard" nillable="true" type="tns:ArrayOfArrayOfCard" />
</xs:schema>